# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

*.pdb
*.exe
build/jd_app_test.exe
build/jd_app_test.exe.manifest
build/jd_app_test.exe
build/jd_app_test.pdb
build/jd_app_pkg/jd_app_test.dll.active
build/generated/continuation.txt
/build/generated
/build
/dev/obj
